

  <div class="p-5 d-flex justify-content-center mt-5  "   >
        
       <div class="card text-center " >
          <div class="card-header  text-muted">
              Login:
          </div>
          <div class="card-body">
            <form method="POST">
              <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" >🙋‍♂️</span>
                    </div>
                    <input name='username' type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                    <div class="input-group-prepend">
                     <span class="input-group-text" >🔐</span>
                    </div>
                    <input class="form-control" type="password" name='password' placeholder="Enter Password" aria-label="Password" aria-describedby="basic-addon2" required/>
              </div>
                    
              <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
              </div>
                    
                     <!-- <div class="card-footer text-muted">
                        <a href="#" class="btn btn-primary">Forget password?</a>
                     </div>-->
              
          
            </form>
             
            </div><!--card-body-->
        </div><!--card-center-->
    </div><!--center-->
