<% if(flashMessages) { %> <% 
    var errors = flashMessages.error !== null && flashMessages.error !== undefined;
    var cssClass = "flash mx-auto flash alert alert-dismissible fade show fade-in ";
    cssClass += errors ? "error alert-danger" : "success alert-success";
    if (errors || flashMessages.success) { %>
        <div class="<%= cssClass %>" role="alert" aria-live="assertive" aria-atomic="true">
            <%= errors ? flashMessages.error : flashMessages.success %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                <svg class="countdown">
                    <circle class="countdown-circle" r="9" cx="20" cy="21"></circle>
                </svg>
            </button>
        </div>
<% } %> 
    <script>
        $(document).ready(() => {
            window.alertTimeout= setTimeout(() => {
                $('.alert').addClass("fade-out")
            }, 3000);
        });
        $('.close').on('click', function(e) {
            e.stopPropagation()

            window.clearTimeout(alertTimeout);

            $(this).closest('.alert')
            .addClass("fade-out")
            });
    </script>
<% } %>