<!-- footer.ejs -->

<footer class="fixed-bottom page-footer font-small text-center text-white   " >
 <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(140, 138, 245, 0.336);  ">
      Copyright © 2021 All Rights Reserved. All other trademarks and copyrights are the property of their respective holders

    </div>
    <!-- Copyright -->
  </footer>