#bg {
  background-image: url("https://mdbootstrap.com/img/new/slides/041.jpg");
}
td {
  padding: 5px;
  text-align:center;
        
}
body {
  min-height: 100vh;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}



.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
}

@media (max-width: 400px) {
  .Absolute-Center {
    top: 150px;
  }
}

@media (max-width: 384px) {
  .Absolute-Center {
    top: 250px;
  }
}

@media (max-width: 280px) {
  .Absolute-Center {
    top: 300px;
  }
}

.Absolute-Center.is-Responsive {
  width: 50%;
  height: 50%;
  min-width: 250px;
  max-width: 500px;
  padding: 20px;
}

img {
  max-width: 600px;
}

/* alert & fade animations */
.flash {
  position: fixed !important;
  left: 30%;
  top: -5%;
  z-index: 1500;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: -5%;
  }
  100% {
    opacity: 1;
    top: 10%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    top: 10%;
  }
  100% {
    opacity: 0;
    top: -5%;
  }
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

.countdown {
  position: absolute;
  top: 5px;
  right: 0;
  width: 40px;
  height: 40px;
  margin-right: 7px;
  transform: rotateY(180deg) rotateZ(-90deg);
}
/* svg circle countdown timer around alert close button */
.countdown-circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: #e24a4a;
  fill: none;
  animation: countdown 3s linear forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}
