<script defer>
  async function remove($row) {
      <% if (admin) { %>
      user = $($row).find('#username').text();
      if (confirm("Do you really want to delete user '" + user + "'?")) {
          try {
              await fetch(`/users/${user}`, {method: 'DELETE', credentials: 'same-origin'});
          } catch (err) {
              console.error(er);
          }
          location = "/users";
      }
      <% } %>
  }
  async function buildRows() {
      let users = [];
      $tbody = $("#tbody");
      try {
          users =  await (await fetch(`/users/list`, {credentials: 'same-origin'})).json();
      } catch (err) {
          console.error(err);
      }
      let template = $($('#row-template').html());
      users.forEach(user => {
          $row = template.clone();
          $row.find("#username").text(user.username);
          $row.find("#name").text(user.name);
          <% if (admin) { %>
          $row.find("#password").text(user.password);
          $row.find("#admin").text(user.admin);
          <% } %>
          $row.appendTo($tbody);
      });
  }
     $(document).ready(()=> {
         buildRows()
     })
</script>
<a href="users/add" class="mt-1 mb-3 btn btn btn-secondary"
  >Create New User</a
>
<div class="row justify-content-center">
  <div class="col-auto">
    <table class="table-active table-bordered .table-hover table-responsive">
      <thead class="thead-inverse">
        <tr>
          <th id="username-header">User</th>
          <% if (admin) { %>
          <th id="password-header">Password</th>
          <th id="admin-header" class="text-center">Admin</th>
          <% } %>
          <th id="name-header">Name</th>
          <% if (admin) { %>
          <th id="remove-user-header" class="text-center">remove user</th>
          <% } %>
        </tr>
      </thead>
      <tbody id="tbody">
        <script id="row-template" type="text/x-custom-template">
          <%- include('user') %>
        </script>
      </tbody>
    </table>
  </div>
</div>
