<div class="row">
	<div class="Absolute-Center is-Responsive">
		<div class="col-sm-12 col-md-10 col-md-offset-1">
			<form method="POST" action="/users" id="loginForm">

			

				<div class="form-group form-row">					
					<div class="col-10 col-sm-11 input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" >🙋‍♂️</span>
						  </div>
						<input
							class="form-control"
							type="text"
							name="username"
							placeholder="Enter Username"
							required
						/>
					</div>
				</div>
				<div class="form-group form-row">
					<div class="col-10 col-sm-11 input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" >🔐</span>
						  </div>
						<input
							class="form-control"
							type="password"
							name="password"
							placeholder="Enter Password"
							required
						/>
					</div>
				</div>
				<div class="form-group form-row">
					
					<div class="col-10 col-sm-11  input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" >🧛🏻‍♀️</span>
						  </div>
						<input
							class="form-control"
							type="text"
							name="name"
							placeholder="Enter Full Name"
							required
						/>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-4 col-md-5">
						<button type="submit" class="px-md-4 px-lg-5 btn btn-primary">
							Add
						</button>
					</div>
					<div class="col-4 col-md-5">
						<button
							type="button"
							class="px-md-4 px-lg-5 btn btn-danger"
							onclick="location='/users'"
						>
							Cancel
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
