
  <div class="p-1 d-flex justify-content-center "   >
        
	<div class="card text-center " >
<tr>
	<td id="username"><%= userName %></td>
	<% if (admin) { %>
	<td id="password"><%= currentUser.password %></td>
	<td id="admin" class="text-center"><%= admin %></td>
	<% } %>
	<td id="name"><%= currentUser.name %></td>
	<% if (admin) { %>
	<td
		class="text-center text-danger"
		title="delete user"
		style="cursor: pointer"
		onclick="remove($(this).parent());"
	>
		<em class="fa fa-user-minus"></em>
	</td>
	<% } %>
</tr>
	</div>
	</div>